<section class="site-section" id="section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-5 site-animate mb-5">
                <h4 class="site-sub-title">Bizim Hikayemiz</h4>
                <h2 class="site-primary-title display-4">Hoşgeldiniz !</h2>
                <p>Seçkin bir menünün tadına varırken, muhteşem aromaların büyüsüne kapılıp, atmosferin etkileyiciliğini hissedeceksiniz… </p>

                <p class="mb-4">Etkileyici kalabalık, hoş sunumlar ve inanılmaz gösteriler ile eğlenip güldüğünüz tüm duyularınıza hitap edecek benzersiz bir gastronomik deneyim!</p>
                <p><a href="/Default/PartialAboutDetail" class="btn btn-secondary btn-lg">Hakkımızda Daha Fazla..</a></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 site-animate img" data-animate-effect="fadeInRight">
                <img src="/eatwell-master/images/about_img_1.jpg" alt="Free Template by colorlib.com" class="img-fluid">
            </div>
        </div>
    </div>
</section>
