<script src="https://kit.fontawesome.com/a1af1d8480.js" crossorigin="anonymous"></script>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img src="~/Content/Admin/download.jpeg">
        </div>
        <div class="user-name">
            Ceyda Başkural
        </div>
        <div class="user-designation">
            Yazılım Geliştirici
        </div>
    </div>



    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Dashboard/DashboardList">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Category/CategoryList">
                <i class="icon-file menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Product/ProductList">
                <i class="icon-check menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Reservation/ReservationList">
                <i class="icon-eye menu-icon"></i>
                <span class="menu-title">Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Message/Inbox">
                <i class="icon-mail menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Contact/ContactList">
                <i class="icon-ellipsis menu-icon"></i>
                <span class="menu-title">İletişim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/About/AboutList">
                <i class="icon-search menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Referance/ReferanceList">
                <i class="icon-file menu-icon"></i>
                <span class="menu-title">Referanslar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Statistic/StatisticList">
                <i class="icon-air-play menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Graphic/GraphicList">
                <i class="icon-pie-graph menu-icon"></i>
                <span class="menu-title">Grafikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/CreditCard/Index">
                <i class="icon-contract menu-icon"></i>
                <span class="menu-title">Kredi Kartı</span>
            </a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" href="/Admin/Setting/SettingList">
                <i class="icon-cog menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" href="/Login/Index">
                <i class="icon-cross menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>